In [795]:
import re 
import statistics
import psycopg2 as pg2
with open('C:\\Users\\ADMIN\\Desktop\\python_class_test.html', 'r') as file:
    col = file.read()

In [796]:
col

'<html>\n<head>\n<title>Our Python Class exam</title>\n\n<style type="text/css">\n\t\n\tbody{\n\t\twidth:1000px;\n\t\tmargin: auto;\n\t}\n\ttable,tr,td{\n\t\tborder:solid;\n\t\tpadding: 5px;\n\t}\n\ttable{\n\t\tborder-collapse: collapse;\n\t\twidth:100%;\n\t}\n\th3{\n\t\tfont-size: 25px;\n\t\tcolor:green;\n\t\ttext-align: center;\n\t\tmargin-top: 100px;\n\t}\n\tp{\n\t\tfont-size: 18px;\n\t\tfont-weight: bold;\n\t}\n</style>\n\n</head>\n<body>\n<h3>TABLE SHOWING COLOURS OF DRESS BY WORKERS AT BINCOM ICT FOR THE WEEK</h3>\n<table>\n\t\n\t<thead>\n\t\t<th>DAY</th><th>COLOURS</th>\n\t</thead>\n\t<tbody>\n\t<tr>\n\t\t<td>MONDAY</td>\n\t\t<td> GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, BLUE, YELLOW, ORANGE, CREAM, ORANGE, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, GREEN</td>\n\t</tr>\n\t<tr>\n\t\t<td>TUESDAY</td>\n\t\t<td> ARSH, BROWN, GREEN, BROWN, BLUE, BLUE, BLEW, PINK, PINK, ORANGE, ORANGE, RED, WHITE, BLUE, WHITE, WHITE, BLUE, BLUE, BLUE</td>\n\t</tr>\n\t<tr>\n\t\t<td>WEDNESDAY</td>\n\t\t<td> GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, RED, YELLOW, ORANGE, RED, ORANGE, RED, BLUE, BLUE, WHITE, BLUE, BLUE, WHITE, WHITE</td>\n\t</tr>\n\t<tr>\n\t\t<td>THURSDAY</td>\n\t\t<td> BLUE, BLUE, GREEN, WHITE, BLUE, BROWN, PINK, YELLOW, ORANGE, CREAM, ORANGE, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, GREEN</td>\n\t</tr>\n\t<tr>\n\t\t<td>FRIDAY</td>\n\t\t<td> GREEN, WHITE, GREEN, BROWN, BLUE, BLUE, BLACK, WHITE, ORANGE, RED, RED, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, WHITE</td>\n\t</tr>\n\n\t</tbody>\n</table>\n\n<p>Examine the sequence below very well, you will discover that for every 1s that appear 3 times, the output will be one, otherwise the output will be 0.</p>\n<p>0101101011101011011101101000111 <span style="color:orange;">Input</span></p>\n<p>0000000000100000000100000000001 <span style="color:orange;">Output</span></p>\n<p>\n</body>\n</html>\n'

In [797]:
data = re.findall(r'<td>(.{10,}),*</td>', col)

In [798]:
data

[' GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, BLUE, YELLOW, ORANGE, CREAM, ORANGE, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, GREEN',
 ' ARSH, BROWN, GREEN, BROWN, BLUE, BLUE, BLEW, PINK, PINK, ORANGE, ORANGE, RED, WHITE, BLUE, WHITE, WHITE, BLUE, BLUE, BLUE',
 ' GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, RED, YELLOW, ORANGE, RED, ORANGE, RED, BLUE, BLUE, WHITE, BLUE, BLUE, WHITE, WHITE',
 ' BLUE, BLUE, GREEN, WHITE, BLUE, BROWN, PINK, YELLOW, ORANGE, CREAM, ORANGE, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, GREEN',
 ' GREEN, WHITE, GREEN, BROWN, BLUE, BLUE, BLACK, WHITE, ORANGE, RED, RED, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, WHITE']

In [799]:
newdata =','.join(data)

In [800]:
cdata = newdata.split(',')

In [801]:
cdata.count(' BLEW')

1

In [802]:
unique = []
for i in cdata:
    if i not in unique:
        unique.append(i)

In [803]:
unique

[' GREEN',
 ' YELLOW',
 ' BROWN',
 ' BLUE',
 ' PINK',
 ' ORANGE',
 ' CREAM',
 ' RED',
 ' WHITE',
 ' ARSH',
 ' BLEW',
 ' BLACK']

In [804]:
frequency = []
for i in unique:
    x = cdata.count(i)
    frequency.append(x)

In [784]:
dic = dict(zip(unique,frequency))

In [785]:
dic

{' GREEN': 10,
 ' YELLOW': 5,
 ' BROWN': 6,
 ' BLUE': 30,
 ' PINK': 5,
 ' ORANGE': 9,
 ' CREAM': 2,
 ' RED': 9,
 ' WHITE': 16,
 ' ARSH': 1,
 ' BLEW': 1,
 ' BLACK': 1}

In [786]:
uniqueindex=[]
for col in unique:
    uniqueindex.append(unique.index(col)+1) #index positions of colors

In [787]:
frequni=[]
for i in range(len(frequency)):
    frequni.append(uniqueindex[i] * frequency[i]) #product of the indexes of the and the colour indexes

In [788]:
mean_index = round((sum(frequni)/sum(frequency)-1)) # the index of the mean color

In [789]:
#1 Mean
mean = unique[mean_index]

In [790]:
mean

' PINK'

In [791]:
#2 Mostly Worn
maximum = max(frequency)
for unique,frequency in dic.items():
    if frequency == maximum:
        print(unique)

 BLUE

In [792]:
#3 Median color
statistics.median(cdata)

' GREEN'

In [856]:
#The Variance

In [813]:
#5 Probability
prob = cdata.count(' RED')/ sum(frequency)
print(prob)

0.09473684210526316

In [733]:
#6
try:
    conn = pg2.connect(database = 'Test', user = 'postgres', password = 'Edoziemas8*')
    print('Opened database succesfully')

except:
    print('Couldn\'t connect to databse')

cur = conn.cursor()

cur.execute('''create table if not exists colors
(id serial primary key not null,
color varchar(50) not null,
frequency int not null);
''')

print('Table created succesfully')
for unique,frequency in dic.items():
    cur.execute('insert into colors(color,frequency) values(%s,%s)',(unique,frequency))

conn.commit()
print('Insert done succesfully')

Opened database succesfully
Table created succesfully
Insert done succesfully

In [745]:
#7 Implementation of Binary Search
pos = -1
def search(lst,num):
    lower = 0
    upper = len(lst) - 1
    while lower <= upper:
        mid = (lower + upper) // 2
        if lst[mid] == num:
            globals()['pos'] = mid
            return True
        else:
            if lst[mid] < num:
                lower = mid + 1
            else:
                upper = mid

lst = [2,4,6,7,8,9]
num = 2

if search(lst,num):
    print('Found at ', pos+1)
else:
    print('Not found')

Found at  1

In [853]:
#8 Binary to Decimal
import random
bi = []
for i in range(4):
    bi.append(random.randint(0,1)) #generate four 0s and 1s randomly and appends to the list
print(bi)
decimal = 0
for digit in bi:
    decimal = decimal*2 +int(digit)
print('The decimal val is ', decimal)

[1, 1, 0, 1]
The decimal val is  13

In [746]:
#9 Sum of the first fifty Fibonacci Sequence
def fibonacci_generator(n):
        if n==1:
                sequence = [0]
        elif n==2:
                sequence = [0,1]
        
        else:
                sequence = [0,1]
                for i in range(2,n):
                        sequence.append(sequence[(len(sequence)-2)] + sequence[(len(sequence) - 1)])
        return sequence
add = sum((fibonacci_generator(50)))
print (add)

20365011073

4